<div class="row my-3">
<div class="col-md-6">
    <h2>List of addressses</h2>
</div>
<div class="col-md-6 text-right">
    <button class="btn btn-primary">new</button>
</div>
</div>
<div class="row">
    <div class="col-md-6" *ngFor = "let address of addresses">
        <div class="card border-primary mb-3">
        <div class="card-header">
           <h3>Type : {{address.type}}</h3> 
        </div>
        <div class="card-body">
         <ul class = "list-group list-group-flush">
            <li class = "list-group-item"><strong>City: </strong>{{address.city}} </li>
            <li class = "list-group-item"><strong>Street: </strong>{{address.street}} </li>
            <li class = "list-group-item"><strong>Postal: </strong>{{address.postal}} </li>
            <li class = "list-group-item"><strong>Country: </strong>{{address.country}} </li>
         </ul>
        </div>
        </div>
    </div>
</div>
